#previewFull {
  background-color: #666666 !important;
  width: 1232px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

#sitetitle {
  border-bottom: 1px dotted #FFFFFF !important;
}

body {
  background-color: #4C4C4C !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #FFFFFF !important;
}

.borderRight {
  border-right: 1px solid #787878 !important;
}

#wrapper_thumb {
  width: 484px !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.preview {
  border: 1px solid #000000 !important;
}

.thumbnail {
  background-color: #CCCCCC !important;
  color: inherit;
}

.itemNumber {
  color: #A6A6A6 !important;
  display: none !important;
  background-color: inherit;
}

#stage2 {
  width: 1232px !important;
}

.thumb, .preview {
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #A1A1A1 !important;
  color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #787878 !important;
  border-left: 1px solid #787878 !important;
}

.borderRightDotted {
  border-right: 1px dotted #787878 !important;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.emptyThumbnail {
  background-color: #CCCCCC !important;
  color: inherit;
}

#wrapper_large {
  width: 1232px !important;
}

.borderBottomRight {
  border-right: 1px solid #787878 !important;
  border-bottom: 1px solid #787878 !important;
}

#previewImage {
  maxSize: 1200.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: none !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #787878 !important;
}

#stage {
  width: 484px !important;
}

.textColor {
  color: #B3B3B3 !important;
  background-color: inherit;
}
